CPU_LIMIT_PER_EXECUTION=1000000000
MEMORY_LIMIT_PER_EXECUTION=536870912
ENABLE_NETWORK_IN_EXECUTION=true
IMAGE_BASE=ghcr.io/42dotmk/colosseum-executioner-
CONTAINER_WORKDIR=/exc
EXECUTION_TIMEOUT_SECONDS=30
MAX_CONCURRENT_EXECUTIONS=10
EXECUTION_QUEUE_NAME=execution_queue
RESULT_QUEUE_NAME=result
LOG_LEVEL=info
JSON_LOGGING=false
RABBITMQ_URL=amqp://guest:guest@localhost:5672/